* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    background: #05070a;
    color: #f5f5f5;
    overflow-x: hidden;
}

#particles {
    position: fixed;
    inset: 0;
    z-index: -3;
}

.orb {
    position: fixed;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    filter: blur(100px);
    opacity: .18;
    z-index: -2;
}

.orb1 {
    background: #00ff9d;
    top: 10%;
    left: -150px;
}

.orb2 {
    background: #8a5cff;
    right: -150px;
    top: 50%;
}


/* NAVBAR */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 25px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    backdrop-filter: blur(15px);
    background: rgba(5, 7, 10, .65);
}

.logo {
    font-weight: 800;
    font-size: 22px;
}

.logo span {
    color: #00ff9d;
}

.nav-links {
    display: flex;
    gap: 28px;
}

.nav-links a {
    color: #aaa;
    text-decoration: none;
    font-size: 14px;
    transition: .3s;
}

.nav-links a:hover {
    color: #00ff9d;
}


/* HERO */

.hero {
    min-height: 100vh;
    padding: 150px 8% 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

.hero-content {
    max-width: 700px;
}

.intro {
    color: #00ff9d;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: clamp(55px, 8vw, 100px);
    line-height: .95;
    font-weight: 800;
}

.hero h1 span {
    color: #00ff9d;
}

.hero h2 {
    margin-top: 25px;
    font-size: 32px;
    color: #aaa;
    min-height: 45px;
}

.hero-text {
    margin-top: 25px;
    max-width: 600px;
    line-height: 1.8;
    color: #999;
}

.hero-buttons {
    margin-top: 35px;
    display: flex;
    gap: 15px;
}

.btn,
.lab-button,
.contact-button {
    display: inline-block;
    padding: 14px 25px;
    border-radius: 8px;
    text-decoration: none;
    transition: .3s;
}

.primary,
.lab-button {
    background: #00ff9d;
    color: #05070a;
    font-weight: 700;
}

.secondary {
    border: 1px solid #333;
    color: white;
}

.btn:hover,
.lab-button:hover,
.contact-button:hover {
    transform: translateY(-4px);
}


/* CODE CARD */

.hero-card {
    width: 450px;
    border: 1px solid #222;
    border-radius: 15px;
    background: rgba(15, 18, 23, .8);
    box-shadow: 0 30px 80px rgba(0, 255, 157, .08);
    overflow: hidden;
    animation: float 5s ease-in-out infinite;
}

@keyframes float {

    0%,100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

}

.card-top {
    padding: 15px;
    border-bottom: 1px solid #222;
}

.card-top span {
    font-size: 10px;
    margin-right: 5px;
}

.code {
    padding: 30px;
    line-height: 2;
    font-family: monospace;
    color: #ddd;
}

.purple {
    color: #bd8cff;
}

.blue {
    color: #5cc8ff;
}

.green,
.success {
    color: #00ff9d;
}


/* STATS */

.stats {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    max-width: 1100px;
    margin: auto;
    padding: 40px 20px;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
}

.stat {
    text-align: center;
}

.stat h3 {
    font-size: 35px;
    color: #00ff9d;
}

.stat p {
    color: #777;
}


/* SECTIONS */

.section {
    max-width: 1150px;
    margin: auto;
    padding: 130px 25px;
}

.section-title p,
.lab-label {
    color: #00ff9d;
    font-size: 13px;
    letter-spacing: 2px;
}

.section-title h2 {
    font-size: 50px;
    margin-top: 15px;
}

.section-title h2 span,
.lab-content h2 span,
.contact-section h2 span {
    color: #00ff9d;
}


/* ABOUT */

.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin-top: 60px;
}

.big-text {
    font-size: 25px;
    line-height: 1.5;
    margin-bottom: 25px;
}

.about-grid p {
    color: #999;
    line-height: 1.8;
}

.about-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.mini-card {
    padding: 25px;
    border: 1px solid #222;
    border-radius: 12px;
    background: rgba(255,255,255,.02);
    transition: .3s;
}

.mini-card:hover {
    transform: translateY(-8px);
    border-color: #00ff9d;
}

.mini-card span {
    font-size: 30px;
}

.mini-card h3 {
    margin-top: 15px;
}

.mini-card p {
    margin-top: 5px;
}


/* SKILLS */

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 60px;
}

.skill-card {
    padding: 30px;
    border: 1px solid #222;
    border-radius: 15px;
}

.skill-card h3 {
    margin-bottom: 30px;
}

.skill {
    margin-bottom: 25px;
}

.skill span {
    display: block;
    margin-bottom: 8px;
    color: #aaa;
}

.bar {
    height: 5px;
    background: #222;
    border-radius: 10px;
}

.bar i {
    display: block;
    height: 100%;
    background: #00ff9d;
    border-radius: 10px;
}


/* PROJECTS */

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 60px;
}

.project-card {
    padding: 30px;
    border: 1px solid #222;
    border-radius: 15px;
    background: rgba(255,255,255,.02);
    transition: .4s;
}

.project-card:hover {
    transform: translateY(-10px);
    border-color: #00ff9d;
}

.project-icon {
    font-size: 40px;
}

.project-type {
    margin-top: 25px;
    color: #00ff9d;
    font-size: 11px;
    letter-spacing: 2px;
}

.project-card h3 {
    margin-top: 12px;
    font-size: 22px;
}

.project-card p:not(.project-type) {
    color: #888;
    line-height: 1.7;
    margin-top: 15px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    margin-top: 20px;
}

.tags span {
    padding: 6px 10px;
    border-radius: 20px;
    background: #111;
    font-size: 11px;
    color: #aaa;
}

.project-link {
    display: inline-block;
    margin-top: 25px;
    color: #00ff9d;
    text-decoration: none;
}


/* LAB */

.lab-section {
    padding: 100px 8%;
    background: #080b0f;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
}

.lab-content {
    max-width: 1150px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    align-items: center;
}

.lab-content h2 {
    font-size: 55px;
    margin: 20px 0;
}

.lab-content > div > p:not(.lab-label) {
    color: #888;
    line-height: 1.8;
    margin-bottom: 30px;
}

.terminal {
    border: 1px solid #222;
    border-radius: 15px;
    overflow: hidden;
    background: #050607;
}

.terminal-head {
    padding: 15px;
    border-bottom: 1px solid #222;
    color: #777;
    font-size: 13px;
}

.terminal-body {
    padding: 30px;
    font-family: monospace;
    line-height: 2;
}

.indent {
    padding-left: 25px;
}


/* EXPERIENCE */

.timeline {
    margin-top: 60px;
    border-left: 1px solid #333;
    padding-left: 40px;
}

.timeline-item {
    position: relative;
    margin-bottom: 60px;
}

.timeline-dot {
    position: absolute;
    left: -46px;
    top: 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #00ff9d;
    box-shadow: 0 0 20px #00ff9d;
}

.timeline-content span {
    color: #00ff9d;
    font-size: 13px;
}

.timeline-content h3 {
    margin-top: 8px;
    font-size: 25px;
}

.timeline-content h4 {
    color: #777;
    margin-top: 5px;
}

.timeline-content p {
    color: #888;
    margin-top: 12px;
}


/* EDUCATION */

.education-card {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.education-card > div {
    padding: 35px;
    border: 1px solid #222;
    border-radius: 15px;
}

.education-card span {
    color: #00ff9d;
}

.education-card h3 {
    margin: 15px 0;
}

.education-card p {
    color: #888;
}

.education-card strong {
    display: block;
    margin-top: 20px;
    font-size: 25px;
}


/* CONTACT */

.contact-section {
    text-align: center;
    padding: 120px 20px;
}

.contact-section > p {
    color: #00ff9d;
    letter-spacing: 2px;
    font-size: 12px;
}

.contact-section h2 {
    font-size: clamp(40px,6vw,75px);
    margin: 25px 0 40px;
}

.contact-button {
    border: 1px solid #00ff9d;
    color: #00ff9d;
}

/* =========================
   CONTACT POPUP
========================= */

.contact-modal {
    display: none;

    position: fixed;
    inset: 0;

    z-index: 9999;

    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.75);

    backdrop-filter: blur(8px);
}

.contact-box {
    position: relative;

    width: 90%;
    max-width: 420px;

    padding: 35px;

    border-radius: 20px;

    background: #111827;

    border: 1px solid rgba(255, 255, 255, 0.15);

    text-align: center;

    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.5);

    animation: popup 0.3s ease;
}

.contact-box h2 {
    margin-bottom: 10px;
}

.contact-box p {
    color: #9ca3af;
    margin-bottom: 25px;
}

.close-btn {
    position: absolute;

    top: 10px;
    right: 18px;

    border: none;

    background: transparent;

    color: white;

    font-size: 30px;

    cursor: pointer;
}

.contact-links {
    display: flex;

    flex-direction: column;

    gap: 12px;
}

.contact-links a {
    display: block;

    padding: 13px 18px;

    border-radius: 10px;

    text-decoration: none;

    color: white;

    background: rgba(255, 255, 255, 0.08);

    transition: 0.3s ease;
}

.contact-links a:hover {
    transform: translateY(-3px);

    background: rgba(255, 255, 255, 0.16);
}

@keyframes popup {

    from {
        opacity: 0;
        transform: scale(0.85);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }

}

/* FOOTER */

footer {
    padding: 30px 8%;
    border-top: 1px solid #222;
    display: flex;
    justify-content: space-between;
    color: #555;
    font-size: 13px;
}


/* SCROLL ANIMATION */

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: 1s;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}


/* MOBILE */

@media(max-width:900px) {

    .nav-links {
        display: none;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        padding-top: 140px;
    }

    .hero-buttons {
        justify-content: center;
    }

    .hero-card {
        width: 100%;
    }

    .stats {
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
    }

    .about-grid,
    .lab-content,
    .education-card {
        grid-template-columns: 1fr;
    }

    .skills-grid,
    .projects-grid {
        grid-template-columns: 1fr;
    }

    .section-title h2 {
        font-size: 38px;
    }

    footer {
        flex-direction: column;
        gap: 10px;
    }

}